/* Error: expected ";".
 *   ,
 * 3 | $background-color:rgba(251, 239, 231, 1)
 *   |                  ^
 *   '
 *   SCSS/abstracts/_variables.scss 3:18  @import
 *   SCSS/main.scss 1:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 3 \2502  $background-color:rgba(251, 239, 231, 1)\a   \2502                   ^\a   \2575 \a   SCSS/abstracts/_variables.scss 3:18  @import\a   SCSS/main.scss 1:9                   root stylesheet';
}
