body {
    background-color: rgba(251, 239, 231, 1);
}
main {
    margin: 0;
   font-family: $font-main, cursive;
}
.foto-grand {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    display: block;
}


.slogan {
    text-align: right;
    margin-left: 700px;
    padding-right: 50px;
    font-size: 20px;
    font-style: italic;
    color: $text-color;
}

 