.galerie-container{
    height: 100px;
    display: grid;
    gap: 10px;
    grid-auto-columns: 200px;
  }

.galerie-container .img {
    width: auto;
    height: 50px;
    object-fit: cover; /* Изображение масштабируется и обрезается для заполнения рамки */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}