main {
  margin: 0px;
  font-family: $font-main;
  color: $text-color;
}

.tarifs-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: $color-fragment;
  border: 2px solid #ffd1dc;
  border-radius: 8px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(255, 182, 193, 0.2);
  transition: transform 0.3s ease;
}

ul {
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  background-color: $background-color;
  color: $text-color;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f58ca5;
}
