
.logo {
    margin: 0;
    height: 150;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 20px; 
    max-width: 100%;
    
}
.size-logo {
    width: 150px;
    height: auto;


}


.nav ul{

   list-style: none;
   display: flex;
   justify-content: space-around;
   padding: 40px 280px;
   margin: 40px;
   gap: 40px;
   font-family: $font-main;

}
.nav li a {
    
    text-decoration: none;
    color: $text-color;
    font-size: $font-size-base;
}


