.logo {
    text-align: center;
    padding: 20px 0;
}
.size-logo {
    width: 150px;
    height: auto;
    border-radius: 8px
}

.nav ul{
   list-style: none;
   display: flex;
   justify-content: space-around;
   padding: 30px 280px;
   margin: 0px;
   gap: 40px;
   font-family: $font-main;
}
.nav li a {
    text-decoration: none;
    color: $text-color;
    font-size: $font-size-base;
}
.nav a.active {
    text-decoration: underline;
}

